<%- include('partials/head'); %>
<%
var channels = locals.channels
var owned = ("owned" in channels) ? channels.owned : false
var subscribed = ("subscribed" in channels) ? channels.subscribed : false

var showChannel = locals.channel.channel
var messages = locals.messages
var user = locals.user
var participants = (locals.channel.inUsers) ? locals.channel.inUsers : false
%>

<!-- Application -->
<div class="app">
  <!-- Sidebar -->
  <aside id="sidebar" class="bg-alt d-flex d-sm-flex flex-column h-100">
    <div class="w-100 p-3">
      <details id="sidebar-nav" class="position-relative user-select-none">
        <!-- User -->
        <summary>
          <span class="d-flex align-items-center">
            <img class="mr-2 rounded-circle" src="/images/user.svg" height="35" />
            <div class="font-weight-semibold" href="/">
              <% if (!locals.user.displayName) { %>
                <%= locals.user.email %>
              <% } else { %>
                <%= locals.user.displayName %>
              <% } %>
            </div>
            <span class="fas fa-chevron-down text-muted ml-auto"></span>
          </span>
        </summary>
        <!-- Dropdown -->
        <span class="sidebar-dropdown popup-window font-weight-semibold">
          <div class="sidebar-dropdown-item">
            <div class="font-weight-bold">
              <% if (!locals.user.displayName) { %>
              <% } else { %>
                <%= locals.user.displayName %>
              <% } %>
            </div>
            <%= locals.user.email %>
          </div>
          <hr class="border-secondary m-0" />

          <a class="sidebar-dropdown-link" href="/account">
            <span class="fas fa-cog mr-2"></span> All settings
          </a>
          <hr class="border-secondary m-0" />

          <a class="sidebar-dropdown-link text-danger" href="/logout">
            <span class="fas fa-sign-out-alt mr-2"></span> Sign out
          </a>
        </span>
      </details>
    </div>

    <!-- Chat list -->
    <div class="flex-scroll-y scrollbar-alt-alt px-2 pt-0">
      <a class="bg px-2 py-1 w-100 d-flex text-body justify-content-center rounded-lg mb-2" href="/channels">Create a new channel</a>
      <% if (owned) { %>
        <% owned.forEach((channel) => { %>
          <div class="sidebar-option">
            <a class="text-body text-decoration-none" href="/channel/<%= channel.id %>">
              <% if (channel.image) { %>
                <img class="mr-2 rounded-circle" src="<%= channel.image %>" height="35" width="35" />
              <% } else { %>
                <img class="mr-2 rounded-circle" src="/images/user.svg" height="35" />
              <% } %>
              <span class="pr-2"><%= channel.name %></span>
            </a>
            <a class="d-inline-block fa fa-trash text-danger ml-auto" href="/channels/delete/<%= channel.id %>"></a>
          </div>
        <% })} %>
      <% if (subscribed) { %>
        <% subscribed.forEach((channel) => { %>
          <div class="sidebar-option">
            <a class="text-body text-decoration-none" href="/channel/<%= channel.id %>">
              <% if (channel.image) { %>
                <img class="mr-2 rounded-circle" src="<%= channel.image %>" height="35" width="35" />
              <% } else { %>
                <img class="mr-2 rounded-circle" src="/images/user.svg" height="35" />
              <% } %>
              <span class="pr-2"><%= channel.name %></span>
            </a>
          </div>
        <% })} %>
    </div>
  </aside>

  <% if (showChannel) { %>
    <div class="d-flex flex-column">
      <div class="font-weight-semibold p-3">
        <% if (showChannel.image) { %>
          <img class="mr-2 rounded-circle" src="<%= showChannel.image %>" height="35" width="35" />
        <% } else { %>
          <img class="mr-2 rounded-circle" src="/images/user.svg" height="35" />
        <% } %>
        <% if (showChannel.name) { %>
          <%= showChannel.name %>
        <% } %>
        <hr class="border-secondary m-0 mt-3" />
      </div>
      <div class="px-3 d-flex flex-column h-100">
        <div id="chat">
          <% if (messages) { %>
            <% messages.forEach(function(message) { %>
              <div class="message <%=message.direction%> mb-3" data-time="<%=message.time%>">
                <div class="user">
                  <% if (message.user.image) { %>
                    <img class="rounded" src="<%= message.user.image %>" height="35" width="35">
                  <% } else { %>
                    <img class="rounded" src="/images/user.svg" height="35" width="35">
                  <% } %>
                  <strong class="mx-2"><%=message.user.name%>:</strong>
                  <%=message.msg%>
                  <small class="text-muted ml-2 time"></small>
                </div>
              </div>
            <% }) %>
          <% }  %>
        </div>
        <div id="message" class="mt-auto mb-3">
          <form id="message-form" class="d-flex">
            <input class="w-100 mr-3 rounded border bg-alt pl-2" id="message-box" placeholder="Type your message here" />
            <button id="send-message" class="btn btn-primary" type="submit">Send</button>
            <input
            data-user='{"uid":"<%= locals.user.uid %>","name":"<%= locals.user.displayName %>","image":"<%= locals.user.photoURL %>"}'
            data-channel='{"uid":"<%= showChannel.id %>","name":"<%= showChannel.name %>"}'
            type="hidden" id="chat-info">
          </form>
        </div>
      </div>
    <% } %>
  </div>
</div>

<%- include('partials/script'); %>
