<%- include('partials/head'); %>
<%
var channels = locals.channels
var owned = ("owned" in channels) ? channels.owned : false
var subscribed = ("subscribed" in channels) ? channels.subscribed : false
var users = locals.channels.users
%>

<div class="d-flex flex-column h-100 justify-content-center align-items-center">
  <div class="bg-alt p-3 rounded">
    <h4>Create a new channel</h4>
    <form id="channel-create-form" action="/channels/add" method="post" enctype="multipart/form-data">
      <input type="text" class="form-control" name="name" placeholder="Channel name">
      <div class="avatarUpload d-flex flex-md-row">
        <input type="file" name="avatar" id="avatar-upload" class="mt-3">
      </div>

      <div class="users mt-4">
        <h5>Add Users</h5>
        <% if (users) { %>
          <% users.forEach(function(user) { %>
            <div>
              <input class="user-check-input" id="user<%= user.id %>" type="checkbox" name="users" value="<%= user.id %>">
              <%= user.name %>
            </div>
          <% }) %>
        <% } %>
      </div>
      <button id="update" class="btn btn-primary mt-3" type="submit">Create</button>
    </form>
  </div>
</div>

<%- include('partials/script'); %>
