<%- include('partials/head'); %>
<%- include('partials/home_nav'); %>
<div class="container-fluid">
  <div class="row">
    <main class="col text-center pt-5">
      <h1 class="display-2"><%= error.status %></h1>
      <h1><%= message %></h1>
    </main>
  </div>
</div>
<%- include('partials/script'); %>
